
.talentjambutton {
	border-radius: 2px;
	border-style: solid;
	border-width: 1px;
	border-color: #ffffff !important;

	color: #ffffff !important;
	background-color: #ff9900 !important;

	padding: 10px 5px !important;
	height: 100px;

}

.talentjambutton:hover {

	background-color: #ff9000 !important;
	border-color: #cccccc !important;

}


.tablerow {

	margin: 0px;
	padding: 10px 5px 2px 5px;

	border-style: solid;
	border-width: 1px;
	border-color: #efefef;
	border-bottom: none;
}

.alternate {

	background-color: #f4f4f4;
}